@charset "UTF-8";

@font-face {
  font-family: 'ferrari-sansMedium';
  src: url(./ferrari/css/fonts/Ferrari-SansMedium.woff2) format('woff2');
}
@font-face {
  font-family: 'ferrari-sansRegular';
  src: url(./ferrari/css/fonts/Ferrari-SansRegular.woff2) format('woff2');
}
html,body{
  margin: 0;
  padding: 0;
}
main{
  padding-top: 45px;
}
body{
  font-family: 'ferrari-sansRegular';
}
h1, h2, h3, h4, h5, h6{
  font-family: 'ferrari-sansMedium';
}