@charset "UTF-8";

.video_slide{
    position: relative;
    height: 100vh;
    margin-bottom: 20px;
}
.v_cont_bx{
    position: absolute;
    display: flex;  
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    z-index: 5;
}
.v_stit{
    color: #fff;
}
.v_btit{
    color: #fff;
}
.v_src{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.v_btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-left:100%;
    border: 1px solid #f22;
    transition: .4s;
}
.v_btn::after{
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    margin-right:100%;
    border: 1px solid #f22;
    transition: .4s;
}
.v_btn:hover::before, .v_btn:hover::after{
    margin: 0 0 0 0;
}