@charset "UTF-8";
.bg-color {
    background-color: #eee;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav.navbar{
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    padding: 0;
}
.auto_btn{
    cursor: pointer;
}
span.navbar-brand{
    padding: 0;
}
.navbar-nav{
    align-items: center;
}
.header_logo a{
    color: #000;
    text-decoration: none;
}
.header_logo_img{
    position: absolute;
    left: 50%;
    width: 30px;
    height: 40px;
    margin-left: auto;
}
.menu_cover{
    /* display: flex; */
    display: none;
    z-index: 999;
    position: fixed;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.mlist_tit{
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
}
.mlist_wrap{
    position: relative;
    width: 40%;
}
.close{
    position: absolute;
    font-size: 40px;
    right: 40px;
    top: 20px;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}
.mlist{
    display: flex;
    flex-direction: column;
    font-family: 'ferrari-sansMedium';
}
.mlist a{
    display: inline-block;
    color: var(--bs-gray-600);
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    padding: 20px;
}
.mlist a:hover{
    color: #000;
}
.mvid_wrap{
    position: relative;
    width: 100%;
}
.mvid_wrap video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mvid_wrap img{
    position: absolute;
    bottom: 10%;
    left: 10px;
    width: 30%;

}

@media screen and (max-width: 700px) {
    .mlist_wrap{
        width: 100%;
    }
    .mlist a{
        padding-left: 10%;
    }
    .mvid_wrap{
        display: none;
    }
    .close{
        color: #000;
    }
    .header_logo_img{
        position: relative;
        left: 0;
    }
}